@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-primary: #04d9ff;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body
{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background);
}

.container
{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
    margin: 0 auto;
}

a
{
    color: var(--clr-dark);
}

h1
{
    font-weight: 800;
    font-size: 1.8rem;
}
h2
{
    font-size: 1.7rem;
}
h3
{
    font-size: 0.95rem;
}
h4
{
    font-size: 0.8rem;
}
h5
{
    font-size: 0.77rem;
}
small
{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--clr-info-dark);
}
p{
    color: var(--clr-dark-variant);
}
b{
    color: var(--clr-dark);
}
.primary{
    color: var(--clr-primary);
}
.success{
    color: var(--clr-success);
}
.danger{
    color: var(--clr-danger);
}
.warning{
    color: var(--clr-warning);
}

leftside{
    height:100vh;
}
leftside .top{
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    height: 4rem;
}
leftside .logo{
    display: flex;
    gap: 1rem;
}

leftside .top div.close{
    display: none;
}

leftside .sidebar
{
    background-color: var(--clr-white);
    display:flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 1rem
}

leftside .h3{
    font-weight: 700;
}

leftside .sidebar a{
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap:1rem;
    align-items: center;
    height: 4.2rem;
    transition: all .1s ease-in;
}

leftside .sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

leftside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

leftside .sidebar a.active{
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left:0;
}

leftside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

leftside .sidebar a:hover{
    color: var(--clr-primary);
}
leftside .sidebar a:hover span{
    margin-left: 1rem;

}


/***************** MAIN ***************************/

main{
    margin-top: 1.4rem;
    width: auto
}

main input{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--clr-dark)
}

main .dashboards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .dashboards>div{
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    height: 20rem;
}

main .dashboards > div:last-child {
    margin-bottom: 2.8rem;
}

main .dashboards>div:hover{
    box-shadow: none;
}

.dashboards > div h1 {
    font-size: 1.3rem;
}

.dashboards > div h2 {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    color: gray;
}

.dashboards > div h2.failure {
    color: red; /* Set color to red for failure prediction */
}

.dashboards > div h2.no_failure {
    color: green; /* Set color to green for no failure prediction */
}



/***************** Failure Report *************************/

.failure_report {
    max-width: 800px;
    margin: 0 auto;
    padding: 34px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }

.add_rules_2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 34px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }

.first_button {
    max-width: 800px;
    margin: 0 auto;
    padding: 34px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }

.second-button {
    margin-top: 1rem;
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
    display: block; /* Ensure button is block-level element */
    text-align: center; /* Center the text within the button */
    margin-bottom: 1rem;
}


  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }

  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
  }

  input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
  }


  button[type="submit"] {
    background-color: var(--clr-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }

  button[type="submit"]:hover {
    background-color: #04d9dd;
  }

  label[for="type_of_failure"],
label[for="severity"] {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


/***************** Rules List *************************/
.rule {
    margin-top: 1.6rem;
    background-color: var(--clr-light); /* Add background color */
    padding: 20px; /* Add padding to create space around the text */
    margin-bottom: 20px; /* Add margin to create space between rules */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.button_rules{
    margin-top: 1.3rem;
    background-color: var(--clr-primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    display: block;
}

.button_rules:hover {
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
}


.rule p {
    margin: 5px 0; /* Add margin to separate paragraphs */
    font-size: 1.1rem;
}

/***************** XAI *************************/
.XAI{
    margin-top: 0.9rem;
}

.feature-score-table h2{
    margin-top: 1.7rem;
}

.feature-score-table h2.failure {
    color: red; /* Set color to red for failure prediction */
}

.feature-score-table h2.no_failure {
    color: green; /* Set color to green for no failure prediction */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.model-explanation-plot {
    margin-top: 2.2rem;
}
.model-explanation-plot img {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 2rem;
}

.narrative-explanation{
    margin-top: 2rem;
}

.narrative-explanation p {
    margin-top: 2rem;
    color: black;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.6; /* Adjust the line height for spacing between lines */
    margin-left: 10%;
}


/* Modal Styles */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal */
    z-index: 1; /* Set the z-index to make sure it appears on top of other elements */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with transparency */
}

/* Modal Content Styles */
.modal-content {
    background-color: #fefefe; /* White background */
    margin: 15% auto; /* Center modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Set the width of the modal content */
    max-width: 600px; /* Set maximum width for larger screens */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow for older browsers */
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow for older browsers */
}

/* Close Button Styles */
.close {
    color: #aaa; /* Light gray color for the close button */
    float: right; /* Float the button to the right */
    font-size: 28px; /* Increase font size */
    font-weight: bold; /* Make the button text bold */
}

.close:hover,
.close:focus {
    color: black; /* Change color on hover/focus */
    text-decoration: none; /* Remove underline on hover/focus */
    cursor: pointer; /* Change cursor to pointer on hover/focus */
}

.question-mark {
    cursor: pointer;
    color: blue;
}

.question-mark:hover {
    color: darkblue;
}

.modal-content p {
    margin-bottom: 10px; /* Add margin-bottom to create space between paragraphs */
}

